
h1 {
    margin-top: 2rem;
    font-size: 1.7rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem 0 0 0;
}

.front-intro-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.home-image { 
    background: rgb(227, 242, 249);
    background: linear-gradient(97deg, rgba(227, 242, 249, 1) 0%, rgba(75, 74, 74, 1) 100%);
    width: calc(90%);
    border-radius: 30px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-image img {
    max-width: 300px;
}

.home-image h1 {
    margin: 10px 0 15px 0;
}

.quiz-container h2{
    padding: 40px 0;
    text-align: center;
}

.selector {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 0 0;
    flex-wrap: wrap;
}

.selector a {
    color: black;
    text-decoration: none;
    padding: 80px;
    margin: 50px;
    font-size: 1.3rem;
    width: 70px;
    text-align: center;
}

.quiz-card {
    border: 1px solid black;
    border-radius: 30px;
    transition: .4s;
}

.quiz-card:hover {
    transform: scale(1.1);
    border: 2px solid black;
}

.easy {
    background-color: rgb(167, 203, 137);
}

.medium {
    background-color: rgb(153, 179, 224);
}

.hard {
    background-color: rgb(198, 134, 137);
}

.random {
    background: rgb(198, 133, 137);
    background: linear-gradient(270deg, rgba(198, 133, 137, 1) 0%, rgba(153, 179, 224, 1) 52%, rgba(167, 203, 137, 1) 100%);
}






/* ------GAME------ */

section {
    text-align: center;
}

.question {
    font-family: "Lalezar", system-ui;
    font-weight: 100;
    font-style: normal;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.progress {
    font-family: "Lalezar", system-ui;
    font-size: 1.2rem;
    margin-top: 2rem;
    color: #e14949;
}

.answer {
    color: black;
    text-decoration: none;
    padding: 80px 15px;
    margin: 50px;
    font-size: 1.1rem;
    border: 1px solid black;
    border-radius: .7rem;
    text-align: center;
    width: 200px;
    background-color: #d7e6f0;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

#next-question, #restart-button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #58aa88;
    display: block;
    margin: 0 auto 2rem auto;

    
}




